<header class="navbar">
  <div class="container-fluid d-flex justify-content-between ">
      <div class="nav-logo d-flex align-content-center " routerLink="/dashboard">
          <p>Miso</p>
          <p class="second-p">Whey</p>
      </div>
      <div class="nav-profile d-flex gap-1 justify-content-center align-items-center  ">
          <img src="../../../../../assets/profile.svg" alt="">
          <p class="m-0 ">Mohamed Emad</p>
         <img src="../../../../../assets/arrow-down.svg" alt="">
      </div>
  </div>
</header>
