<nav class="m-3 p-3 d-flex flex-column align-items-center  gap-2  ">
  <div class="tap mt-4 "routerLink="/dashboard" [routerLinkActive]="'active'">
    <!-- <a class="active"> -->
       <img src="../../../../../assets/chart-square.svg" alt="">
      <!-- </a> -->
       <p class="m-0 ">Dashboard</p>
       </div>
  <div class="tap " routerLink="/users" [routerLinkActive]="'active'">
    <!-- <a class="active"> -->
      <img src="../../../../../assets/profile-2user.svg" alt="">
    <!-- </a> -->
      <p class="m-0 ">Users</p>
  </div>
</nav>
