

<div class="container-fluid gap-3 h-100 d-flex">
  <div class="d-flex flex-column w-100 m-3 ">
    <section
      class="section  mb-3  w-100 d-flex flex-column  gap-1  ">
      <p>Map tracking</p>
      <div class="image">
        <app-googlemap></app-googlemap>

      </div>

    </section>
    <section
      class="section  mb-3  w-100 d-flex flex-column  gap-1  ">
      <p>Locations Map </p>
      <div class="image">
        <app-googlemap></app-googlemap>
      </div>
    </section>
    <section
      class="section mb-3  w-100 d-flex flex-column  gap-1  ">
      <div class="image">
        <app-columnchart></app-columnchart>
      </div>

    </section>
    <section
    class="section  mb-3  w-100 d-flex flex-column  gap-1  ">
    <div class="image">
      <app-areachart></app-areachart>
    </div>

  </section>
  </div>
</div>
